SESSION_SECRET="change-this-to-a-random-32-character-string"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
ADMIN_EMAILS="feelmiss@gaehyeon.sen.es.kr"
ALADIN_TTB_KEY=""
DATA4LIBRARY_API_KEY=""
STDICT_API_KEY=""
OPENAI_API_KEY=""
